<%+header%>


<div align="center">
	<a href="http://qmp.cat" target="_blank"><img src="/luci-static/resources/qmp/logo.png" /></a>
</div>

<h2>About qMp</h2>
<ul>
<li>QMP is firmware for embedded network devices based on OpenWRT GNU/linux operating system</li>
<li>It provides an easy way to set up networks using MESH it doesn't matter your they are either wired or WiFi or a mix of both</li>
<li>It is a fast and reliable way to extend an Internet uplink to end-users</li>
</ul>
<br />
<p>Visit our web page for more information: <a href="http://qmp.cat" target="_blank">http://qmp.cat</a> </p>

<h2>About this device</h2>
<p>
<strong>Hostname:</strong> <%=hostname%>
</p>

<p>
<strong>System:</strong> <%=uname%>
</p>

<p>
<strong>Version:</strong> <%=string.sub(version,2,-3)%> 
</p>

<p>
<strong>IPv4 addresses</strong>
<ul>
	<% for i,v in ipairs(ipv4) do %>
	<li><%=v%></li>
	<% end %>
</ul>
</p>

<%+footer%>
