@charset "utf-8";

@media all {

html {
	min-height: 100%;
	height: auto;
	position:relative;
}

body {
	color: #ffffff;
	background-color: #000;
	background-position: bottom center;
	background-repeat: repeat-x;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11pt;
	line-height: 100%;
	padding-bottom: 1.5em;
}

* {
	margin: 0;
	padding: 0;
}

a img {
	border: none;
	text-decoration: none;
}

small {
	white-space: nowrap;
}

ul.l1 li a {
	background-color: #AAAAAA;
	background-image: url(tabbg.png);
	background-repeat: repeat-x;
	border-color: #444444;
}

ul.l1 li.tabmenu-item-logout a {
	margin-left: 30px;
}

abbr,
acronym {
	font-style: normal;
	font-variant: normal;
}

abbr[title],
acronym[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

a:link abbr[title],
a:visited abbr[title],
a:link acronym[title],
a:visited acronym[title] {
	cursor: pointer;
}

code {
	font-family: monospace;
	white-space: pre;
}

#maincontent ul {
	margin-left: 2em;
}

.warning {
	color: red;
	background-color: white;
	font-weight: bold;
}

.clear {
	clear: both;
}
ul.dropdowns {
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
	list-style: none;
}

html>body ul.dropdowns {
	position: relative;
}

ul.dropdowns li,
ul.dropdowns ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.dropdowns li {
	float: left;
	position: relative;
	white-space: nowrap;
}

ul.dropdowns li ul {
	position: absolute;
	z-index: 1000;
	top: auto;
	min-width: 10em;
}

ul.dropdowns li li {
	float: none;
	position: relative;
}

ul.dropdowns li a {
	display: block;
}

ul.dropdowns ul li ul {
	top: 0;
}

ul.dropdowns li ul,
ul.dropdowns li.over ul ul,
ul.dropdowns li.focus ul ul,
ul.dropdowns li:hover ul ul,
ul.dropdowns li.over ul ul ul,
ul.dropdowns li.focus ul ul ul,
ul.dropdowns li:hover ul ul ul,
ul.dropdowns li.over ul ul ul ul,
ul.dropdowns li.focus ul ul ul ul,
ul.dropdowns li:hover ul ul ul ul {
	left: -3000px;
}

ul.dropdowns li.over ul,
ul.dropdowns li.focus ul,
ul.dropdowns li:hover ul {
	left: 0;
}

ul.dropdowns ul li.over ul,
ul.dropdowns ul li.focus ul,
ul.dropdowns ul li:hover ul,
ul.dropdowns ul ul li.over ul,
ul.dropdowns ul ul li.focus ul,
ul.dropdowns ul ul li:hover ul,
ul.dropdowns ul ul ul li.over ul,
ul.dropdowns ul ul ul li.focus ul,
ul.dropdowns ul ul ul li:hover ul {
	left: 100%;
}


.skiplink,
.navigation,
.hidden {
	position: absolute;
	left: -1000px;
	top: -1000px;
	width: 0px;
	height: 0px;
	overflow: hidden;
	display: inline;
}

.error {
	color: #ff0000;
	background-color: white;
}

div.hostinfo {
	float: left;
	margin: 0;
	width: 100%;
	font-size: 80%;
	padding: 0.5em 0;
    background-color: #000;
}

#xhr_poll_status {
	cursor: pointer;
}

#xhr_poll_status #xhr_poll_status_off {
	font-weight: bold;
	color: #FF0000;
}

#xhr_poll_status #xhr_poll_status_on {
	font-weight: bold;
	color: #00FF00;
}

#menubar {
	position: relative;
	width: 100%;
	background: #000000;
	color: #ffffff;
    float: left;
}
#menubar ul.dropdowns {
	min-height: 1.8em;
	background: #FFF;
	color: #004a9c;
}

#menubar ul.dropdowns li ul {
	background: #FFF;
	color: #004a9c;
	border-width: 0 1px 1px 1px;
	border-style: dotted;
	border-color: #5a5a5a;
}

#menubar ul.dropdowns ul li ul {
	border-width: 1px;
}

#menubar ul.dropdowns li.over>a,
#menubar ul.dropdowns li.focus>a,
#menubar ul.dropdowns li:hover>a {
}

#menubar .warning {
	color: red;
	background-color: #557788;
}

html #menubar a:link,
html #menubar a:visited {
	position: relative;
	display: block;
	padding: 0.5em;
	background: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 80%;
	font-weight: normal;
}


html #menubar a:link:hover,
html #menubar a:visited:hover,
html #menubar a:link:active,
html #menubar a:visited:active,
#menubar a:link:focus,
#menubar a:visited:focus {
	background: #000000;
	color: #ffff00;
	font-weight: normal;
}

html #menubar a:link.active,
html #menubar a:visited.active,
html #menubar a:link.preactive,
html #menubar a:visited.preactive {
	background: #000000;
	color: #ffff00;
	font-weight: bold;
}

html #menubar a:link.warning,
html #menubar a:visited.warning {
	background: #000000;
	color: red;
	font-weight: bold;
}

#modemenu {
	width: auto;
	background: #000000;
	color: #ffffff;
	list-style: none;
	margin-right: 1px;
	margin-left: 2em;
	float: right;
}

#modemenu li {
	float: right;
	list-style: none;
}

#savemenu {
	float: right;
}

.lang_de #submenu_admin_uci {
	width: 12em;
}

.lang_ru #submenu_admin_uci {
	width: 11.5em;
}

textarea#syslog {
	width: 98%;
	min-height: 500px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: monospace;
}

#maincontainer {
	clear: both;
	width: 96%;
	margin: 0 auto;
	height:100%;
}

#maincontent {
	padding: 0.5em;
	background: #f5f5f5;
	color: #000000;
	font-size: 80%;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #444444;
}

#maincontent h2 {
	font-size: 150%;
	font-family: Trebuchet MS, Verdana, sans-serif;
	font-weight: bold;
	margin: 0.25em 0 0.7em 0;
	border-bottom: 1px solid;
	padding-top: 10px;
	padding-bottom: 4px;
}

#maincontent h3 {
	margin: 0.5em 0 1.1em 0;
	font-size: 125%;
	font-weight: bold;
	font-style: italic;
	font-family: Trebuchet MS, Verdana, sans-serif;
	color: #27408B;
}

#maincontent p {
	margin-bottom: 1em;
}

.cbi-section {
	margin-bottom: 0.5em;
	padding: 0.5em 1em;
	border: 1px dotted #555555;
	background-color: #ffffff;
	color: #000000;
}

.cbi-section legend {
	font-size: 110%;
	font-weight: bold;
	height: 1em;
	padding: 0 0.25em;
	background-color: transparent;
	color: #555555;
}

.cbi-section h2 {
	margin: 0em 0 0.5em -0.5em !important;
}

.cbi-section h3 {
	text-decoration: none !important;
	font-weight: bold !important;
	color: #555555 !important;
	margin: 0.25em !important;
	font-size: 100% !important;
}

.cbi-section-descr {
	margin-bottom: 0.5em;
	font-size: 95%;
}

.cbi-title-ref {
	color: inherit;
	text-decoration: none;
	padding-right: 18px;
	background: url('../resources/cbi/link.gif') no-repeat scroll right center;
	background-color: inherit;
}

ul.cbi-apply {
	font-size: 90%;
}

input:-webkit-input-placeholder {
	color: #AAAAAA;
}

input:-moz-input-placeholder {
	color: #AAAAAA;
}

input[type=submit],
input[type=reset],
input[type=image],
input[type=button] {
	cursor: pointer;
}

select,
input,
textarea {
	background: #eeeeee;
	color: #000000;
	border-width: 1px;
	border-color: #000000;
}

input[type=image] {
	border: none;
}

input:focus,
input:hover,
select:focus,
select:hover {
	background-color: #ffffff;
	color: #000000;
}

select,
input[type=text],
input[type=password] {
	width: 20em;
}

td select,
td input[type=text],
td input[type=password] {
	width: 99%;
}

img.cbi-image-button {
	cursor: pointer;
	margin: 0 2px;
	vertical-align: middle;
}

input.cbi-button {
	background-color: #EEEEEE;
	background-repeat: no-repeat;
	background-position: 1px center;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}

input.cbi-button:hover {
	border-color: #4A6B7C;
	background-color: #FFFFFF;
}

input.cbi-button[disabled] {
	color: #CCCCCC;
	border-color: #CCCCCC;
	background-color: #EEEEEE;
	cursor: default;
}

input.cbi-input-user {
	background-image: url('../resources/cbi/user.gif');
	background-repeat: no-repeat;
	background-position: 1px center;
	color: #000000;
	text-indent: 17px;
}

input.cbi-input-password {
	background-image: url('../resources/cbi/key.gif');
	background-repeat: no-repeat;
	background-position: 1px center;
	color: #000000;
	text-indent: 17px;
}

input.cbi-input-find {
	background-image: url('../resources/cbi/find.gif');
	color: #000000;
	padding-left: 17px;
}

input.cbi-input-reload {
	background-image: url('../resources/cbi/reload.gif');
	color: #000000;
	padding-left: 17px;
}

input.cbi-input-add,
input.cbi-button-add {
	background-image: url('../resources/cbi/add.gif');
	color: #000000;
	padding-left: 17px;
	padding-right: 1px;
}

input.cbi-input-fieldadd,
input.cbi-button-fieldadd {
	background-image: url(../resources/cbi/fieldadd.gif);
	color: #000000;
	padding-left: 17px;
	padding-right: 1px;
}

input.cbi-input-reset,
input.cbi-button-reset {
	background-image: url('../resources/cbi/reset.gif');
	color: #000000;
	padding-left: 17px;
	padding-right: 1px;
}

input.cbi-input-save,
input.cbi-button-save {
	background-image: url('../resources/cbi/save.gif');
	color: #000000;
	padding-left: 17px;
	padding-right: 1px;
}

input.cbi-input-apply,
input.cbi-button-apply {
	background-image: url('../resources/cbi/apply.gif');
	color: #000000;
	padding-left: 17px;
	padding-right: 1px;
}

input.cbi-input-link,
input.cbi-button-link {
	background-image: url('../resources/cbi/link.gif');
	color: #000000;
	padding-left: 17px;
	padding-right: 1px;
}

input.cbi-input-remove,
div.cbi-section-remove input {
	background-image: url('../resources/cbi/remove.gif');
	color: #000000;
	padding-left: 17px;
	padding-right: 1px;
}

.cbi-input-invalid {
	background-image: url('../resources/cbi/reset.gif');
	background-repeat: no-repeat;
	background-position: right;
	color: #FF0000 !important;
	border-color: #FF0000;
}

div.cbi-section-remove input {
	border-bottom: none;
}

textarea {
	margin-left: -1px;
	margin-bottom: 0.5em;
}

form > div > input[type=submit],
form > div > input[type=reset] {
	float: right;
	margin-left: 0.5em;
}

table td,
table th {
	color: #000000;
}

table.smalltext {
	background: #f5f5f5;
	color: #000000;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	font-size: 90%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table.smalltext tr:hover td {
	background-color: #bbddee;
	color: #000000;
}

table.smalltext tr th {
	padding: 0 0.25em;
	border-left: 1px solid #666666;
	text-align: left;
}

table.smalltext tr td {
	padding: 0 0.25em;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
}

table.cbi-section-table .cbi-rowstyle-1 {
	background-color: #eeeeff;
	color: #000000;
}

table.cbi-section-table .cbi-rowstyle-1:hover,
table.cbi-section-table .cbi-rowstyle-2:hover {
	background-color: #b2c8d4;
	color: #000000;
}

.cbi-section .cbi-rowstyle-1 h3 {
	background-color: #eeeeff;
	color: #555555;
}

.cbi-rowstyle-2 {
	color: #000000;
}

div.cbi-value {
	clear: left;
	vertical-align: middle;
	padding: 0.25em 0.6em;
	border-bottom: 1px dotted #bbbbbb;
}

div.cbi-value:hover {
	background: #f8f8f8;
	color: #000000;
}

.cbi-value-title {
	float: left;
	width: 40%;
	line-height: 1.8em;
}

div.cbi-value-field {
	width: 58%;
	margin-left: 40%;
	padding: 0.25em 0;
}

div.cbi-value-description {
	font-size: 90%;
	display: inline;
}

div.cbi-section-create {
	clear: left;
	white-space: nowrap;
	vertical-align: top;
}

div.cbi-section-create .cbi-button {
	margin: 0.25em;
}

input.cbi-section-create-name {
	margin-right: -0.25em;
}

div.cbi-map-descr {
	margin-bottom: 1em;
}

div.cbi-optionals {
	padding: 0.25em;
	border-bottom: 1px dotted #bbbbbb;
}

div.cbi-section-remove {
	float: right;
}

.cbi-section-node {
	clear: both;
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	padding-bottom: 0;
	position: relative;
}

.cbi-section-node-tabbed {
	border-top-left-radius: 0;
}

.cbi-section-node .cbi-value-last {
	border-bottom: none;
}

.cbi-section-node table div {
	padding-bottom: 0;
	border-bottom: none;
}

.cbi-section-node div.cbi-section-table-row {
	margin: 0.25em;
}

table.cbi-section-table {
	width: 100%;
	font-size: 95%;
}

table.cbi-section-table th,
table.cbi-section-table td {
	text-align: center;
}

tr.cbi-section-table-descr th {
	font-weight: normal;
	font-size: 90%;
}

td.cbi-section-table-optionals {
	text-align: left !important;
	padding-top: 1em;
}

.cbi-value-helpicon img {
	vertical-align: bottom;
}

div.cbi-error {
	font-size: 95%;
	font-weight: bold;
	color: #ff0000;
	background-color: #ffffff;
}

td.cbi-value-error {
	border-color: red;
}

.cbi-value-error input,
.cbi-value-error select {
	color: red;
	background-color: #ffcccc;
}

.cbi-section-error {
	color: red;
	background-color: white;
	font-size: 95%;
	border: 1px dotted red;
	margin: 3px;
	padding: 3px;
}

.cbi-value-field var {
	color: #2222FF;
}

ul.cbi-tabmenu {
	padding: 3px 0;
	margin-left: 0 !important;
	list-style-type: none;
	position: relative;
	z-index: 10;
	top: 4px;
	line-height: 20px;
}

ul.cbi-tabmenu li.cbi-tab,
ul.cbi-tabmenu li.cbi-tab-disabled {
	display: inline;
	margin: 0;
}

ul.cbi-tabmenu li.cbi-tab a,
ul.cbi-tabmenu li.cbi-tab-disabled a {
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 3px;
	border: 1px solid #BBBBBB;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	background-color: #EEEEEE;
	color: #BBBBBB;
}

ul.cbi-tabmenu li.cbi-tab-highlighted a {
	color: #000000;
	background-color: #FFEEAA;
}

ul.cbi-tabmenu li a:hover {
	color: #000000;
}

ul.cbi-tabmenu li.cbi-tab a {
	padding-top: 4px;
	color: #000000;
	background-color: #FFFFFF;
}

div.cbi-tab-descr {
	background-image: url(/luci-static/resources/cbi/help.gif);
	background-position: 0.25em 50%;
	background-repeat: no-repeat;
	border-bottom: 1px solid #CCCCCC;
	margin: 0.25em 0.25em 2em;
	padding: 0.5em 0.5em 0.5em 2em;
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.luci {
	position: absolute;
	bottom: 0;
	left: 1em;
	height: 1.5em;
	font-size: 80%;
}

.luci a:link,
.luci a:visited {
	background-color: transparent;
	color: #666666;
	text-decoration: none;
	font-size: 70%;
}

.inline {
	display: inline;
}

.error500 {
	white-space: normal;
	border: 1px dotted #ff0000;
	background-color: #ffffff;
	color: #000000;
	padding: 0.5em;
}

.errorbox {
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
	padding: 5px;
	margin-bottom: 5px;
}

.errorbox a {
	color: #000000 !important;
}


.uci-change-list {
	font-family: monospace;
}

.uci-change-list ins,
.uci-change-legend-label ins {
	text-decoration: none;
	border: 1px solid #00FF00;
	background-color: #CCFFCC;
	display: block;
	padding: 2px;
}

.uci-change-list del,
.uci-change-legend-label del {
	text-decoration: none;
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
	display: block;
	font-style: normal;
	padding: 2px;
}

.uci-change-list var,
.uci-change-legend-label var {
	text-decoration: none;
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	display: block;
	font-style: normal;
	padding: 2px;
}

.uci-change-list var ins,
.uci-change-list var del {
	/*display: inline;*/
	border: none;
	white-space: pre;
	font-style: normal;
	padding: 0px;
}

.uci-change-legend {
	padding: 5px;
}

.uci-change-legend-label {
	width: 150px;
	float: left;
	font-size: 80%;
}

.uci-change-legend-label>ins,
.uci-change-legend-label>del,
.uci-change-legend-label>var {
	float: left;
	margin-right: 4px;
	width: 10px;
	height: 10px;
	display: block;
}

.uci-change-legend-label var ins,
.uci-change-legend-label var del {
	line-height: 6px;
	border: none;
}


}
